@import 'variables';
@import 'mixins';

@each $font-family
  in ('Material Icons Outlined')
{
  $full-class-name: to-lower-case($font-family);
  $full-class-name: material-icons-str-replace($full-class-name, ' ', '-');
  $class-name: material-icons-str-replace(
    $full-class-name,
    'material-icons',
    $material-icons-css-prefix
  );

  
  .#{$full-class-name} {
    @include material-icons-font-class($font-family);
  }
}

// Generate el-* classes with built-in font family for outlined icons
@each $name, $codepoint in $material-icons-codepoints {
  $class-name: material-icons-str-replace(
    $name,
    $material-icons-css-search,
    $material-icons-css-replace
  );

  .el-#{$class-name} {
    @extend .material-icons-outlined;
    @include material-icon($name);
  }
}
